@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
$yellowColor: #8AD8DC;
$blackColor: black;
$whiteColor: white;
$fontFamily: 'Ubuntu', sans-serif;
$fontSize: 1em;
$marginGrid: 10px;
$breakpointTablet: 768px;
$breakpointDesktop: 1140px;
